body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightGray;
}

a {
  color: yellow;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 10%;
}

.error_msg {
  color:red;
}

.info_msg{
  color: purple;
}

#addtask_text {
  width: 50%
}

.navigation {
  padding-bottom: 20px;
}

.delete_form, .done_form {
  display: inline;
}

.done_button {
  background-color: lightGreen;
  border-radius: 10%;
}

.delete_button {
  background-color: crimson;
  color: white;
  border-radius: 10%;
}

.all_done_button{
  background-color: black;
  color: white;
  font-weight:bold;
  border-radius: 10%;
}

.alldone {
  padding-top: 20px;
}

.navigation{
  padding-top: 10px;
}

.list{
  padding-bottom: 5px;
}
